<div class="row">
  <div class="col-2">
      <app-product-filter [category]="category"></app-product-filter>
  </div>
  <div class="col">
    <div class="row" *ngIf="cart$ | async as cart">
      <ng-container *ngFor="let prod of filteredProducts; let idx = index" >
        <div class="col">
          <app-product-card [shopping-cart]="cart" [product]="prod"></app-product-card>
        </div>
        <div *ngIf="(idx + 1) % 2 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>
</div>
