<ngb-carousel>
  <ng-template ngbSlide>
    <img src="{{ imgsPath[0] }}" alt="NASA 1">
    <div class="carousel-caption">
      <h3>Angular Victory...</h3>
      <p>In Angular We trust.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="{{ imgsPath[1] }}" alt="NASA 2">
    <div class="carousel-caption">
      <h3>The Spirit of Angular...</h3>
      <p>Work hard, be kind, do more.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="{{ imgsPath[2] }}" alt="NASA 3">
    <div class="carousel-caption">
      <h3>Welcome to the Future...</h3>
      <p>We honor Progress, Angular, Open Source.</p>
    </div>
  </ng-template>
</ngb-carousel>
